<footer class="footer">
  <p>This page was built by Boyd Kelly (https://www.coastsystems.net) with Antora .</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
</footer>
