<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://readthis.book.gb.net">Book</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://readthis.book.gb.net/henleys.html">Henley's XX</a>
          </div>
        </div>
<!-- 
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://github.com/Deep-Symmetry">Projects</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/wayang#wayang">Wayang</a>
          </div>
        </div>
-->
        <a class="navbar-item" href="https://readthis.book.gb.net">Home</a>
      </div>
    </div>
  </nav>
</header>
